<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="/CSS/book.css">
	<script type="text/javascript"></script>
</head>
<body>
	<center>
		<span>Total Books:<b> <%= issued_book.length %></span>
		</center>
		<br>
		
		<div>
			<% for(var i = 0; i < issued_book.length; i++){ %>
			<% if(issued_book[i].user_id == null){ %>
			<table class="book_cont">
				<tr>
					<th>Book Name</th>
					<th>Author</th>
					<th>Expected Availability</th>
				</tr>
				<% for(var i = 0; i < issued_book.length; i++){ %>
				<tr style="color: #000">
					<td>
						<%= issued_book[i].name %>
					</td>
					<td>
						<%= issued_book[i].author %>
					</td>
					<td style="background-color: green; color: white;  font-weight: bold; padding: 3px; border-radius: 4px;">
						Available
					</td>
				</tr>
				<% } %>
			</table>
			<% } else {%>
			<table class="book_cont">
				<tr>
					<th>Book Name</th>
					<th>Author</th>
					<th>Availability</th>
				</tr>
				<% for(var i = 0; i < issued_book.length; i++){ %>
				<tr style="color: #000">
					<td>
						<%= issued_book[i].name %>
					</td>
					<td>
						<%= issued_book[i].author %>
					</td>
					<td style="background-color: red; color: white;  font-weight: bold; padding: 3px; border-radius: 4px;">
						<%= issued_book[i].due_date %>
					</td>
				</tr>
				<% } %>
			</table>
			<% } %>
			<% } %>
		</div>

	</body>
	<script type="text/javascript" src="/JS/jquery-3.3.1.min.js"></script>
	</html>