<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="/CSS/book.css">
	<script type="text/javascript"></script>
</head>
<body>
	<div id="header">
		<center><span>Availability of <b><%= result1[0].name %></b></span></center>
	</div>
	
	<div>
		<center>
		<span style="background-color: #312b21; color: white;">Total Book(s): <b><%= result1[0].total_book %></b></span>
		<span style="background-color: green; color: white;">Available Book(s): <b><%= result1[0].available_book %></b></span>
		</center>
		<table  class="book_cont">
			<tr>
				<th>
					Book ID
				</th>
				<th>
					Expected Availability
				</th>
			</tr>
			<% for(var i = 0; i < issued_book.length; i++){ %>
			<% if(issued_book[i].user_id == null){ %>
			<tr>
				<td>
					<%= issued_book[i].book_id %>
				</td>
				<td style="float: right; background-color: green; color: #fff; font-weight: bold; padding: 3px;">Book Available
				</td>
			</tr>

			<% } else {%>
			<tr>
				<td>
					<%= issued_book[i].book_id %>
				</td><td style="float: right; background-color: #ff4800; color: #fff; font-weight: bold;  padding: 3px;"> <%= issued_book[i].due_date %></td>
			</tr>
			
			<% } %>
			<% } %>
		</table>
	</div>

</body>
<script type="text/javascript" src="/JS/jquery-3.3.1.min.js"></script>
</html>