<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="/CSS/book.css">
	<script type="text/javascript"></script>
</head>
<body style="background-image: url('/back.jpg');">
	<div id="header">
		<center><span>Availability of <b><%= result1[0].name %></b></span></center>
		<br>
		<br>
		<center><span>Located at <b><%= result1[0].section %>,<%= result1[0].sub_section %></b></span></center>

	</div>
	
	<div class="books_cont">
		<center>
		<span style="background-color: #312b21; color: white;">Total Book(s): <b><%= result1[0].total_book %></b></span>
		<span style="background-color: green; color: white;">Available Book(s): <b><%= result1[0].available_book %></b></span>
		</center>
		<table  class="book_cont">
			<tr>
				<th>
					Book ID
				</th>
				<th>
					 Availability
				</th>
				<th>
					 Action
				</th>
			</tr>
			<% for(var i = 0; i < issued_book.length; i++){ %>
			<% if(issued_book[i].user_id == null){ %>
			<tr>
				<td>
					<%= issued_book[i].book_id %>
				</td>
				<td style="float: right; background-color: green; color: #fff; font-weight: bold; padding: 3px;">Book Available
				</td>
				<td>
				<input id="<%= issued_book[i].book_id %>" class="roll_input" type="text" name="user_id_input" placeholder="Issue Book To" required><br>
			<button value="<%= issued_book[i].book_id %>" class="issue_btn">Issue Book</button><br clear="all">
		</td>
			</tr>

			<% } else {%>
			<tr>
				<td>
					<%= issued_book[i].book_id %>
				</td><td style="float: right; background-color: #ff4800; color: #fff; font-weight: bold;  padding: 3px;"> <%= issued_book[i].due_date %></td>
				<td>
					<button value="<%= issued_book[i].book_id %>" class="return_btn">Return Book</button><br clear="all">
				</td>
			</tr>
			
			<% } %>
			<% } %>
		</table>
	</div>

</body>
<script type="text/javascript" src="/JS/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$(".issue_btn").click(function(e){
		e.preventDefault();
		var book_id = $(this).val();
		var issue_to = $("#"+book_id).val(); $("#"+book_id).val('');
		var data = {book_id, issue_to};

		$.ajax({
			type: 'POST',
			url: '/issue_book',
			data,
			success: function() {
				window.location.reload();
			},
			error: function(error) {	
				console.log(error);	
				alert(error.responseText);
				console.log(error.responseText);
			}
		});

	});

	$(".return_btn").click(function(e){
		e.preventDefault();
		var book_id = $(this).val();

		$.ajax({
			type: 'DELETE',
			url: '/return_book',
			data: {book_id},
			success: function() {
				window.location.reload();
			},
			error: function(error) {	
				console.log(error);	
				alert(error.responseText);
				console.log(error.responseText);
			}
		});
	});

});
</script>
</html>