<!DOCTYPE html>
<html>
<head>
	<title>E-Library</title>
	<link rel="stylesheet" type="text/css" href="/CSS/user.css">
</head>
<body>
	<div id="header">

		<div style="float: right; align-content: center;">
			<a href="/logout" style="padding: 10px; background-color:#ddd; text-decoration: none; color:#000;" id="logout">Log out</a>

		</div>
		<div style="float: left;">
			<span style="color: #aaa">UserID:</span> <%= user %><br>
			<span style="color: #aaa">Total Books:</span> <%= result.length %><br>
		</div>
		<center><h1 style="color: #00d8ff;">Welcome To E-Libre-ry!</h1></center>

	</div>

	<div id="search_button" style="padding: 20px; text-align: center; width: 100%">
		<span  style="cursor: pointer; font-size: 24px; padding: 10px; background-color: #000;"> Search books by details</span>
	</div>

	<div id="search_tag_button" style="padding: 20px; text-align: center; width: 100%">
		<span  style="cursor: pointer; font-size: 24px; padding: 10px; background-color: #000;"> Search books by tags</span>
	</div>

	<div id="e_lib_button" style="padding: 20px; text-align: center; width: 100%">
		<span  style="cursor: pointer; font-size: 24px; padding: 10px; background-color: #000;">Enter E-Library</span>
	</div>


	<%if (result.length > 0) { %>


	<div class="books_cont">



		<span style="color: #aaa">Number of Available books:</span> <%= result.length %><br>
		<br>
		<% for(var i = 0; i < result.length; i++){ %>
		<div class="book_cont">
			<button value="<%= result[i].isbn %>" class="return_btn" style="float: right; width: 25%;">Read Online</button>
			<span style="color: #aaa">Book Name:</span> <%= result[i].name %><br>
			<span style="color: #aaa">Author:</span> <%= result[i].author %><br>
			<span style="color: #aaa">ISBN:</span> <%= result[i].isbn %><br>
		</div>
		<% } %>

	<% } %>

	<%if (result.length <= 0) { %>
		<div class="books_cont">
			No any book found.
		</div>
	<% } %>


	
</body>
<script type="text/javascript" src="/JS/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('#search_button').click((e)=>{
			window.location='/search_books'
		})

		$('#search_tag_button').click((e)=>{
			window.location='/search_tags'
		})

		$('#e_lib_button').click((e)=>{
			window.location='/elib'
		})
	})
</script>
</html>