<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="/CSS/user.css">
	<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
	<script type="text/javascript"></script>
</head>
<body>
	<div id="header">


		<div style="vertical-align: top;margin-top: 16px;color: #000; font-size: 1.5em; width: 33%;text-align: left; display: inline-block;">
			<span style="background-color: #e1d2b8; padding: 8px 16px 8px 16px; border-radius: 40px;">Due fine: <%= result[0].due_fines %></span>

		</div>
		<div style="text-align: center; width: 33%; font-size: 1.7em;display: inline-block;">
			<span style="color: #fff;text-align: center;font-size: 1.9em;"><%= result[0].name %></span>
		</div>


		<div style="vertical-align: top; margin-top: 16px; text-align: right; width: 33%;display: inline-block; ">
			<a href="/logout" style="font-size: 1.5em; background-color: #e1d2b8; padding: 8px 16px 8px 16px; border-radius: 40px;text-decoration: none; color:#000;" id="logout">Log out</a>
		</div>
	</div>

	<%if (issued_book.length > 0) { %>


	<div class="books_cont" style="width: 50%; float: left;">



<center>
		<span style="margin: auto; color: black;font-size: 1.2em;opacity: 0.8; background-color: #e1d2b8; padding: 8px 16px 8px 16px; border-radius: 40px;">Books issued: <b><%= issued_book.length %></b></span>
		</center>
		<br>
		<table class="book_cont">
			<tr>
				<th>Book Name</th>
				<th>Author</th>
				<th>Due date</th>
			</tr>
			<% for(var i = 0; i < issued_book.length; i++){ %>
			<tr style="color: #000">
				<td>
					<%= issued_book[i].name %>
				</td>
				<td>
					<%= issued_book[i].author %>
				</td>
				<td>
					<%= issued_book[i].due_date %>
				</td>
			</tr>
			<% } %>
		</table>

		<% } %>

		<%if (issued_book.length <= 0) { %>
	<div class="books_cont" style="width: 40%; float: left;">
			<div class="book_cont" style="padding: 40px; text-align: center; font-size: 1.4em;">
			No books borrowed
		</div>
		</div>
		<% } %>



	</div>

<center>
	<iframe style="width: 40%;height: 600px; float: left; margin-top: 70px;"src="/search_books" frameBorder="0"></iframe>
	</center>

	</iframe>



	
</body>
<script type="text/javascript" src="/JS/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('#search_button').click((e)=>{
			window.location='/search_books'
		})

		$('#search_tag_button').click((e)=>{
			window.location='/search_tags'
		})

		$('#e_lib_button').click((e)=>{
			window.location='/elib'
		})
	})
</script>
</html>