<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="/CSS/user.css">
	<script type="text/javascript"></script>
</head>
<body>
	<div id="header">

		<div style="float: right; align-content: center;">
			<a href="/logout" style="padding: 10px; background-color:#ddd; text-decoration: none; color:#000;" id="logout">Log out</a>

		</div>
		<div style="float: left;">
			<span style="color: #aaa">User ID:</span> <%= user_id %><br>
			<span style="color: #aaa">Roll No.:</span> <%= result[0].roll_no %><br>
			<span style="color: #aaa">Branch:</span> <%= result[0].branch %><br>
			<span style="color: #aaa">Due fine:</span> <%= result[0].due_fines %><br>

		</div>
		<center><h1 style="color: #00d8ff;">Welcome <%= result[0].name %>!</h1></center>

	</div>

		<div id="search_button" style="padding: 20px; text-align: center; width: 100%">
			<span  style="cursor: pointer; font-size: 24px; padding: 10px; background-color: #000;"> Search books </span>
		</div>

	<%if (issued_book.length > 0) { %>


	<div class="books_cont">



					<span style="color: #aaa">Number of issued books:</span> <%= issued_book.length %><br>
					<br>
		<% for(var i = 0; i < issued_book.length; i++){ %>
		<div class="book_cont">
			<span style="color: #aaa">Book Name:</span> <%= issued_book[i].name %><br>
			<span style="color: #aaa">Author:</span> <%= issued_book[i].author %><br>
			<span style="color: #aaa">ISBN:</span> <%= issued_book[i].isbn %><br>
			<span style="color: #aaa">Book ID:</span> <%= issued_book[i].book_id %><br>
			<span style="color: #aaa">Due Date:</span> <%= issued_book[i].due_date %><br>
		</div>
		<% } %>

		<% } %>

		<%if (issued_book.length <= 0) { %>
			<div class="books_cont">
				No books borrowed
			</div>
		<% } %>



	</div>



	
</body>
<script type="text/javascript" src="/JS/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('#search_button').click((e)=>{
			window.location='/search_books'
		})
	})
</script>
</html>